# logs
logs
*.log*

# dependencies
node_modules

# build output
dist
dist-ssr
.vite
bin/

# local env files
*.local

# editor directories and files
.vscode
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# garbage
.DS_Store
Thumbs.db
